.container-fluid {
  background-color: #3e3f41;
  color: #e2e2e2;
  height: 100vh;
  width: 100%;
  padding: 0;
  font-family: 'Work Sans', sans-serif;
}

.welcome {
  height: 100%;
  text-align: center;
  padding: 80px 10px;
}

#logo {
  width: 30%;
  padding-bottom: 10px;
}

.welcome h2 {
  font-family: 'PT Sans Narrow', sans-serif;
  color: #f6a800;
}

/* Iniciar sesión */

.login {
  padding: 0 15px;
}

.form-control,
#loginBtn {
  padding: 10px;
  border-radius: 0;
  font-size: 12px;
}

.icon-user:before {
  content: "\e971";
}

.icon-locked:before {
  content: "\e900";
}

#loginBtn {
  background-color: #f6a800;
  color: #3e3f41;
  font-weight: 700;
}

#register {
  color: #f6a800;
  font-weight: 700;
}

.forgotPass {
  padding: 10px 0;
  font-size: 10px;
}

.noAct {
  padding-top: 10px;
}

/* Página principal */
#wrapper {
  background-color: #dddee0;
  height: 100vh;
  width: 100%;
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.top {
  background-color: #3e3f41;
  color: #fafafa;
  margin: 0;
}
.menu {
  padding: 100px 0;
  text-align: center;
}

.options {
  background-color: #f6a800;
  margin: 20px 10px;
  padding: 10px 20px;
  font-size: 20px;
}

.options a {
  color: #fafafa;
}

/* Navbar */
#navbar h4 {
  text-align: center;
  font-size: 12px;
}

/* Estilos de botón que despliega menú*/
#menu-toggle {
  padding-top: 6px;
}

.animated-icon1 {
  width: 30px;
  height: 16px;
  position: relative;
  margin-top: 3px;
  cursor: pointer;
}

.animated-icon1 span {
  display: block;
  position: absolute;
  height: 1px;
  width: 80%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  background: #fafafa;
  box-shadow: 5px 5px 10px -6px rgba(0,0,0,0.5);
}

.animated-icon1 span:nth-child(1) {
  top: 0px;
}

.animated-icon1 span:nth-child(2) {
  top: 8px;
}

.animated-icon1 span:nth-child(3) {
  top: 16px;
}

/* Menú lateral */
#sidebar-wrapper {
  z-index: 1000;
  position: absolute;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #fafafa;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  padding: 20px;
  position: relative;
}

#wrapper.toggled #page-content-wrapper {
  position: relative;
  margin-right: 0;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  padding-top: 30px;
  list-style: none;
}

.sidebar-nav li {
  padding-bottom: 8px;
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav i {
  color: #f6a800;
  display: inline;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
  display: inline;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav>.sidebar-brand a {
  color: #999999;
}

.sidebar-nav>.sidebar-brand a:hover {
  color: #fff;
  background: none;
}

/* Perfil */
.user {
  padding: 30px 10px;
  background-color: #f6a800;
}

#round {
  margin: 0 auto;
  height: 150px;
  width: 150px;
  border-radius: 750px;
  background-color: #ced4da;
}

#round img {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}

.bip {
  background-color: #e2e2e2;
  width: 100%;
  padding: 0 40px;
}

.mail {
  margin-top: 20px;
  background-color: #fafafa;
}

.addBip {
  text-align: center;
}

#bipNumber {
  border: none;
  border-bottom: 2px solid #2b2b2b;
  background-color: #e2e2e2;
  padding: 0;
}

#addBtn {
  margin-top: 10px;
  background-color: #f6a800;
  text-align: center;
  width: 100%;
  border: none;
  padding: 3px;
  color: #fafafa;
}

/* Página de Saldo */
.getBalance {
  padding: 20px 10px;
}

.addCard input {
  margin-top: 20px;
}

.addedBips {
  width: 100%;
}
